@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-grid {
  display: grid;
  grid-template-columns: 75px 1px 75px;
}

#root {
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
  background-color: #f8f8fb;
}

.test {
  align-items: center;
}
